body {
    font-family: Arial, sans-serif;
    background-color: #dfdfdf;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #faf6f6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 32px;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-size: 26px;
    color: #333;
    font-weight: bold;
    width: 70%;
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    max-width: 100%;
}

input[type="text"], input[type="number"], select {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    width: 80%;
    background-color: white;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:hover, input[type="number"]:hover{
    border-color: #3498db;
}

select {
    cursor: pointer;
    appearance: none;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
}

select:hover {
    border-color: #3498db;
}

select:focus {
    outline: none;
    border-color: #2980b9;
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
}

input[type="number"] {
    width: 30%;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 70%;
    margin-bottom: 20px;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}

h3 {
    margin-top: 20px;
    font-size: 20px;
    color: #198345;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 15px;
        width: 90%;
    }

    h2 {
        font-size: 24px;
    }

    input[type="text"], input[type="number"], select {
        font-size: 16px;
    }

    button[type="submit"] {
        font-size: 16px;
    }
}
