<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vigenere cipher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Cesar code</h2>
        <form action="/do_vigenere" method="POST">
            <br><br>
            <label>Text</label>      
            <input type="text" name="text" autocomplete="off" value="{{text}}" required>
            <br><br>
            <label>Key</label>
            <input type="text" name="key" autocomplete="off" value="{{key}}" required>
            <br><br>
            <select id="mode" name="mode">
                <option value="1" {% if mode == 1 %}selected{% endif %}>Encode</option>
                <option value="-1" {% if mode == -1 %}selected{% endif %}>Decode</option>
            </select>
            <br><br>
            <button type="submit">Run</button>
        </form>
        
        {% if result %}
            <h3>Texto cifrado: {{ result }}</h3>
        {% endif %}
    </div>
</body>
</html>
